/* Generali */
body {
font-family: 'Roboto', sans-serif;
}

ul {
  margin-bottom: 0;
}

li {
  display: inline-block;
  list-style-type: none;
  color: rgba(0,0,0,0.3);
  font-size: 20px;
  padding-left: 20px;
}

p {
  margin-bottom: 0;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  color: black;
  text-transform: capitalize;
  padding-bottom: 2px;
}

input:focus{
  outline: none;
}

.wrapper {
  position: relative;
}

.avatar {
  width: 50px;
  border-radius: 50px;
}

.hidden {
  display: none;
}

.active {
  background-color: rgb(234, 234, 234);
}

/* BOX MESSAGGI */
/* messaggi */
.box {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  max-width: 60%;
}

.box > div:last-child{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  width: 30px;
  flex-shrink: 0;
  justify-content: space-between;
}

.box > div:last-child i{
  padding-bottom: 10px;
}

.box .orario{
  align-self: flex-end;
  font-size: 12px;
  color: rgba(0,0,0,0.3);
}

.message-green {
  align-self: flex-end;
  background-color: #d5f9ba;
  border-radius: 20px;
  padding: 10px;
}

.message-white {
  align-self: flex-start;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

/* arrow */
.box:hover .arrow {
  opacity: 1;
}

.arrow {
  opacity: 0;
  cursor: pointer;
}

/* dropdown */
.dropdown {
  position: absolute;
  top: 50%;
  width: 150px;
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 20px 10px;
}

.dropdown.right {
  left: 45%;
}

.dropdown p{
  cursor: pointer;
}

.dropdown p:first-child{
  padding-bottom: 20px;
}
/* fine generali */

/* BACKGROUND */
.background {
  z-index: -1;
}

/* background green */
.background .background-green {
  width: 100%;
  height: 150px;
  background-color: #009688;
}

/* background grey */
.background .background-grey {
  width: 100%;
  height: calc(100vh - 150px);
  background-color: #d9dbd6;
}

/* WEB APP */
.webapp {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-width: 900px;
  height: 90%;
  min-height: 300px;
  background-color: white;
}

/* WEB APP LEFT */
.webapp .webapp-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.webapp .webapp-left > div, .webapp .webapp-right > div  { /*codice condiviso tra webapp-left e webapp-right*/
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

/* left header */
.webapp .webapp-left .left-header, .webapp .webapp-right .right-header  { /*codice condiviso tra webapp-left e webapp-right*/
  justify-content: space-between;
  height: 65px;
  background-color: #eaeaea;
  border-right: 1px solid rgba(0,0,0,0.2);
}

/* left notify */
.webapp .webapp-left .left-notify {
  height: 80px;
  background-color: #8edafc;
}

.webapp .webapp-left .left-notify .bell i {
  font-size: 25px;
  color: #8edafc;
  background-color: white;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
}

.webapp .webapp-left .left-notify .bell-text, .webapp .webapp-right .right-header .avatar-zone .avatar-text { /*codice condiviso tra webapp-left e webapp-right*/
  padding-left: 10px;
}

.webapp .webapp-left .left-notify .bell-text p  {
  font-weight: 600;
  margin-bottom: 0;
}

.webapp .webapp-left .left-notify .bell-text a  {
  text-decoration: underline;
}

/* left search */
.webapp .webapp-left .left-search {
  height: 60px;
  background-color: #fafafa;
}

.webapp .webapp-left .left-search .search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  padding: 0 15px;
}

.webapp .webapp-left .left-search .search i {
  color: rgba(0,0,0,0.3);
  font-size: 18px;
}

.webapp .webapp-left .left-search .search input {
  width: 100%;
  height: 35px;
  border: 0;
  padding-left: 15px;
}

/* left contacts */
.webapp .webapp-left .left-contacts {
  display: flex;
  flex-direction: column;
  height: calc(100% - 65px - 80px - 60px);
  overflow: auto;
  padding: 0;
}

.webapp .webapp-left .left-contacts .contatto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.3);
}

.webapp .webapp-left .left-contacts .contatto p, .webapp .webapp-right .right-header .avatar-zone .avatar-text p { /*codice condiviso tra webapp-left e webapp-right*/
  line-height: 16px;
  color: rgba(0,0,0,0.5);
}

.webapp .webapp-left .left-contacts .contatto .avatar-zone, .webapp .webapp-right .right-header .avatar-zone { /*codice condiviso tra webapp-left e webapp-right*/
  display: flex;
}

.webapp .webapp-left .left-contacts .contatto .avatar-zone .avatar-text, .webapp .webapp-right .right-header .avatar-zone .avatar-text { /*codice condiviso tra webapp-left e webapp-right*/
  align-self: center;
}

.webapp .webapp-left .left-contacts .contatto .avatar-text {
  padding-left: 10px;
}

.webapp .webapp-left .left-contacts .contatto .time {
  text-align: right;
  font-size: 12px;
}

/* WEB APP RIGHT */
.webapp .webapp-right {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

/* right header */
.webapp .webapp-right .right-header {
  border-right: none;
}

.webapp .webapp-right .right-header .avatar-zone .avatar-text h3 {
  font-size: 16px;
}

/* right chat */
.webapp .webapp-right .right-chat {
  align-items: flex-start;
  height: calc(100% - 65px - 70px);
  background-image: url(../img/mine.jpg);
}

.webapp .webapp-right .right-chat {
  height: calc(100% - 65px - 70px);
  background-image: url(../img/mine.jpg);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 40px 60px;
  padding-bottom: 0;
}

.webapp .webapp-right .right-chat .chat {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.webapp .webapp-right .right-chat .chat i {
  font-size: 10px;
  color: rgba(0,0,0,0.5);
}

.webapp .webapp-right .right-chat .chat p {
  word-break:break-all;
}

/* right message */
.webapp .webapp-right .right-message {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: #f3eeea;
  padding: 0;
}

.webapp .webapp-right .right-message i {
  font-size: 25px;
  color: rgba(0,0,0,0.5);
}

.webapp .webapp-right .right-message .smile, .webapp .webapp-right .right-message .microphone  {
  width: 60px;
  text-align: center;
}

.webapp .webapp-right .right-message .text-input {
  flex-grow: 4;
  text-align: center;
}

.webapp .webapp-right .right-message .text-input input {
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
}
